@model eduzora_lms.Models.Instructor.ViewModels.EditCourseFeaturedBannerRequestViewModel


@{
	Layout = "_LayoutUser";
}


<div class="page-top" style="background-image: url('@Url.Content("~/uploads/banner.jpg")')">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Edit Course Featured Banner</h2>
				<div class="breadcrumb-container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="~/">Home</a></li>
						<li class="breadcrumb-item active">Edit Course Featured Banner</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="page-content user-panel pt_70 pb_70">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-12">
				<div class="card">
					@await Html.PartialAsync("_SidebarInstructor")
				</div>
			</div>
			<div class="col-lg-9 col-md-12">

				<!-- buttons  -->
				<ul class="nav-course-edit">
					<li>
						<a asp-action="EditCourseBasic" asp-controller="DisplayCourse" asp-route-id="@Model.id">
							Basic Information
						</a>
					</li>
					<li >
						<a asp-action="EditCourseFeaturedPhoto" asp-controller="DisplayCourse" asp-route-id="@Model.id">
							Featured Photo
						</a>
					</li>
					<li class="active">
						<a asp-action="EditCourseFeaturedBanner" asp-controller="DisplayCourse" asp-route-id="@Model.id">
							Featured Banner
						</a>
					</li>
					<li>
						<a asp-action="EditCourseFeaturedVideo" asp-controller="DisplayCourse" asp-route-id="@Model.id">
							Featured Video
						</a>
					</li>
					<li>
						<a href="#"> Curriculum </a>
					</li>
				</ul>

				<form asp-controller="DisplayCourse" asp-action="EditCourseFeaturedBanner" method="post" enctype="multipart/form-data">
					<div class="row">

						@* get current cours Featured Photo edit req id *@
						<input type="text" class="form-control" asp-for="id" hidden>


						<input type="hidden" asp-for="CurrentFeaturedBanner" />


						<div class="col-md-12 mb-3">
							<label for="">Existing Featured Banner</label>
							<div class="form-group">
								<img src="~/@Model.CurrentFeaturedBanner" class="w-200" alt="Featured Banner" />
							</div>
						</div>


						<div class="col-md-12 mb-3">
							<label for="">Change Featured Banner</label>
							<div class="form-group">
								<input asp-for="FeaturedBannerFile" type="file">
								<span asp-validation-for="FeaturedBannerFile" class="text-danger"></span>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" class="btn btn-primary" value="Update">
							</div>
						</div>


					</div>
				</form>
			</div>
		</div>
	</div>
</div>
